<main *ngFor="let withdraw of withdrawInfo | slice:1:2">
  <h1>Hacer un retiro</h1>
  <hr class="titleHr">

  <section class="container">
    <span class="rectangle"></span>
    <h2 class="subtitle"> {{ withdraw.metaNombre }} - {{ withdraw.serie }}</h2>
    <hr class="containerDivider">

    <div class="grid">

      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>{{ withdraw.saldoDisponible | number:'':'es-CL'}}</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer" *ngIf="show === false; else showInputText">
          <button class="withdrawAll" (click)="withdrawAll()">Quiero retirar todo</button>
          <button class="withdrawAmount" (click)="showCustomAmountInput()">Quiero ingresar el monto</button>
        </div>

        <ng-template #showInputText>
          <input type="number" [max]="withdraw.saldoDisponible" [(ngModel)]="customAmount" (keyup)="onKey($event)">
          <button (click)="backToButtons()">
            <- </button>
        </ng-template>
      </div>
    </div>
  </section>

  <section class="container">
    <span class="rectangle"></span>
    <h2 class="subtitle"> Moderado Arriesgado - Serie C</h2>
    <hr class="containerDivider">

    <div class="grid">
      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>{{ secondGoalAmount | number:'':'es-CL' }}</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer">
          <button class="withdrawAll" (click)="withdrawAll()">Quiero retirar todo</button>
          <button class="withdrawAmount">Quiero ingresar el monto</button>
        </div>
      </div>
    </div>
  </section>

  <section class="totalAmount">
    <p class="totalWithdrawAmount">Monto a retirar</p>
    <p class="amount"><span>$</span>{{ userAmount | number:'':'es-CL' }}</p>
  </section>

  <button class="nextButton" [disabled]="disableButton" (click)="nextPage()">Siguiente</button>

</main>
