<main>
  <h1>Hacer un retiro</h1>
  <hr class="titleHr">

  <section class="container">
    <span class="rectangle"></span>
    <h2 class="subtitle"> Moderado Conservador - Serie B</h2>
    <hr class="containerDivider">

    <div class="grid">

      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>2.000.512</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer">
          <button class="withdrawAll">Quiero retirar todo</button>
          <button class="withdrawAmount">Quiero ingresar el monto</button>
        </div>
      </div>
    </div>
  </section>

  <section class="container">
    <span class="rectangle"></span>
    <h2 class="subtitle"> Moderado Arriesgado - Serie C</h2>
    <hr class="containerDivider">

    <div class="grid">
      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>2.000.512</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer">
          <button class="withdrawAll">Quiero retirar todo</button>
          <button class="withdrawAmount">Quiero ingresar el monto</button>
        </div>
      </div>
    </div>
  </section>

  <section class="totalAmount">
    <p class="totalWithdrawAmount">Monto a retirar</p>
    <p class="amount"><span>$</span>0</p>
  </section>

  <button class="nextButton">Siguiente</button>

</main>
