<main *ngFor="let withdraw of withdrawInfo | slice:1:2">
  <h1>Hacer un retiro</h1>
  <hr class="titleHr">

  <!-- FIRST GOAL CONTAINER -->
  <section class="container">
    <span class="rectangle"></span>

    <header>
      <h2 class="subtitle"> {{ withdraw.metaNombre }} - {{ withdraw.serie }}</h2>
      <hr class="containerDivider">
    </header>

    <div class="grid">

      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>{{ withdraw.saldoDisponible | number:'':'es-CL'}}</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer" *ngIf="show === false; else showInputText">
          <button class="withdrawAll" (click)="withdrawAll()">Quiero retirar todo</button>
          <button class="withdrawAmount" (click)="showCustomAmountInput()">Quiero ingresar el monto</button>
        </div>

        <ng-template #showInputText>
          <div class="customAmountContainer">
            <button (click)="backToButtons()">
              <mat-icon class="arrowIcon">arrow_back</mat-icon>
            </button>
            <input type="number" class="customAmount" [max]="withdraw.saldoDisponible" [(ngModel)]="customAmount"
              (keyup)="onKey($event)">
          </div>
        </ng-template>
      </div>
    </div>
  </section>

  <!-- SECOND GOAL CONTAINER -->
  <section class="container">
    <span class="rectangle"></span>

    <header>
      <h2 class="subtitle"> Moderado Arriesgado - Serie C</h2>
      <hr class="containerDivider">
    </header>

    <div class="grid">
      <div class="balance">
        <p class="currentBalance">Saldo Actual</p>
        <p class="currentBalanceAmount"><span>$</span>{{ secondGoalAmount | number:'':'es-CL' }}</p>
      </div>

      <hr class="grid-divider">

      <div class="optionsButtons">
        <p class="selectOption">Seleccione una opción</p>
        <div class="buttonContainer" *ngIf="showSecondGoal === false; else showInputText2">
          <button class="withdrawAll" (click)="withdrawSecondGoal()">Quiero retirar todo</button>
          <button class="withdrawAmount" (click)="showCustomAmountInput2()">Quiero ingresar el monto</button>
        </div>

        <ng-template #showInputText2>
          <div class="customAmountContainer">
            <button (click)="backToButtonsSecondGoal()">
              <mat-icon class="arrowIcon">arrow_back</mat-icon>
            </button>
            <input type="number" class="customAmount" [max]="withdraw.saldoDisponible"
              [(ngModel)]="customAmountSecondGoal" (keyup)="onKey($event)">
          </div>
        </ng-template>
      </div>
    </div>
  </section>

  <!-- TOTAL WITHDRAW AMOUNT -->
  <section class="totalAmount" *ngIf="loading === false; else waiting">
    <p class="totalWithdrawAmount">Monto a retirar</p>
    <p class="amount"><span>$</span>{{ userAmount + userSecondAmount | number:'':'es-CL' }}</p>
  </section>

  <button class="nextButton" [disabled]="disableButton" (click)="toSuccesfullPage()">Siguiente</button>
</main>

<ng-template #waiting>
  <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
  </mat-progress-spinner>
</ng-template>
