main {
  padding: 49px 20px 69px;
}

/* spinner */
.spinner {
  margin-left: 80%;
}

/* dividers */
hr {
  border: 1px solid #E6ECF5;
}

.containerDivider {
  width: 80%;
  margin: 0 auto;
}

/* titles */
h1 {
  margin-bottom: 6px;
  text-align: center;
}


h2 {
  position: relative;
  margin-bottom: 20px;
  top: 7px;
}

.subtitle {
  margin-top: 12px;
  text-align: center;
  font-size: 15px;
}

/* containers */
.container {
  height: 300px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.totalAmount {
  width: 100%;
  height: 105px;
  border: 2px solid #59CEC1;
  border-radius: 5px;
  padding: 16px;
  margin-top: 26px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.submitButtonContainer {
  width: 100%;
}

/* //containers */

/* //titles */

/* texts */
.currentBalance,
.selectOption {
  margin-top: 10px;
  text-align: center;
  color: #B0B1B5;
}

.selectOption {
  margin-bottom: 10px;
}

.currentBalanceAmount {
  font-weight: 700;
  font-size: 45px;
  color: #59CEC1;
  margin-bottom: 10px;
  text-align: center;
}

.currentBalanceAmount span {
  font-size: 21px;
  position: relative;
  bottom: 5px;
}

.totalWithdrawAmount,
.amount {
  color: #59CEC1;
  text-align: center;
  font-weight: 700;
}

.amount {
  font-size: 42px;
}

.amount>span {
  font-size: 21px;
  position: relative;
  bottom: 8px;
}

/* //texts */

/* buttons */
.withdrawAll,
.withdrawAmount {
  width: 70%;
  border: 1px solid #59CEC1;
  border-radius: 22px;
  padding: 8px 28px 10px;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  color: #59CEC1;

}

.withdrawAll {
  margin-bottom: 10px;
}

.nextButton {
  width: 100%;
  border-radius: 28px;
  background-color: #FE7F6B;
  color: #fff;
  text-align: center;
  margin-top: 20px;
  padding: 11px 0;
  cursor: pointer;
}

/* //buttons */


/* MEDIA QUERIES */
@media (min-width: 768px) {
  main {
    display: flex;
    flex-direction: column;
  }

  h1 {
    text-align: left;
    margin-bottom: 22px;
  }

  .container {
    height: 180px;
    margin-top: 47px;
    position: relative;
    padding: 10px;
  }

  .rectangle {
    position: absolute;
    left: 0;
    height: 170px;
    width: 12px;
    background-color: #59CEC1;
    border-radius: 5px 0px 0px 5px;
  }

  .subtitle {
    font-size: 18px;
    text-align: left;
    margin-left: 29px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .balance {
    display: flex;
    flex-direction: column;
  }

  .currentBalance {
    align-self: start;
    margin-left: 29px;
  }

  .currentBalanceAmount {
    align-self: center;
  }

  .grid-divider {
    display: none;
  }

  .containerDivider {
    width: 100%;
  }

  .currentBalance,
  .selectOption {
    text-align: left;
  }

  .buttonContainer {
    flex-direction: row;
    align-items: flex-start;
  }

  .optionsButtons {
    display: flex;
    flex-direction: column;
  }

  .buttonContainer {
    align-self: flex-start;
  }

  .withdrawAll,
  .withdrawAmount {
    width: 130px;
    font-size: 12px;
    justify-self: flex-start;
  }

  .withdrawAll {
    border-radius: 22px 0px 0px 22px;

  }

  .withdrawAmount {
    border-radius: 0px 22px 22px 0px;
  }

  .totalAmount,
  .nextButton {
    width: 40%;
    align-self: end;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 49px 100px 69px;
  }

  .subtitle {
    margin-left: 17px;
  }

  .currentBalance {
    margin-left: 17px;
    font-size: 20px;
  }

  .selectOption {
    font-size: 20px;
    margin-left: 0;
  }

  .currentBalanceAmount {
    font-size: 45px;
    margin-left: 20px;
    margin-top: 9px;
  }

  .withdrawAll,
  .withdrawAmount {
    width: 140px;
    height: 30px;
    font-size: 14px;
  }

  .nextButton {
    height: 31px;
    font-size: 17px;
  }
}

@media (min-width: 1250px) {
  main {
    padding: 49px 220px 69px;
  }

  .totalAmount,
  .nextButton {
    width: 30%;
  }

  .currentBalanceAmount {
    margin-left: 50px;
  }

  .grid {
    grid-template-columns: 1fr .2fr 1fr;
  }

  .grid-divider {
    width: 1px;
    height: 90px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: 10px;
  }
}

@media (min-width: 1440px) {
  .currentBalanceAmount {
    font-size: 55px;
    margin-left: 10px;
  }
}
